<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title><%= allUsers[0].groupName %></title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div>
        <p>Group:- <%= allUsers[0].groupName%></p>
    </div>

    <div class="mb-3">
        <a class="nav-link" href="/allGroup/add/<%= allUsers[0].groupId %>">add member</a>        
     </div>

     <% if (locals.allUsers[0]) { %>
        <% allUsers.forEach(user => { %>
            <div class="col">
                <div class="card col" style="width: 18rem;">
                    <a class="nav-link " href="/user/<%= user.user_id.userId %>" role="button"  aria-expanded="false">
                        <img src="<%= user.user_id.profileImageURL %>" alt="Image" style="width: 50px; height: 50px;">
                      </a>
                      <p> <%= user.user_id.name %></p>                                          
                  </div>
                </div>
         
        <% }) %>     
     <% } %>

    <%- include('./partials/scripts') %>
</body>
</html>