<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Details head</title>
</head>
<body>
    <%- include('./partials/nav') %>
     <% if (locals.displayHeads[0]) { %>
        <% displayHeads.forEach(displayHead => { %>
            <div class="col">
                <div class="card col" style="width: 18rem;">
                    <a class="nav-link " href="/details/detailsHead/<%= displayHead.displayHeadId %>@break$<%= userId %>" role="button"  aria-expanded="false">
                        <p> <%= displayHead.displayHeadName %></p>
                       
                      </a>
                                                               
                  </div>
                </div>         
        <% }) %>     
        <% } else { %>
            <div><p>No report uploaded yet</p></div>
         
     <% } %>

    <%- include('./partials/scripts') %>
</body>
</html>